@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
    font-family:  "Poppins","Manrope", ui-sans-serif, system-ui, sans-serif;
}

:where(h1, h2, h3),
.font-display,
.font-brand {
    font-family: ui-sans-serif, "Poppins", "Manrope","Space Grotesk",  system-ui, sans-serif;
}

.font-tech,
:where(code, kbd, samp, pre) {
    font-family:  Consolas, "Liberation Mono", monospace;
}

button,
input,
textarea,
select {
    font: inherit;
}
